In [61]:
import pandas as pd

In [62]:
categories = [91,92]

In [63]:
data = pd.DataFrame({"cat": [91,92,93] })

In [64]:
data

   cat
0   91
1   92
2   93

In [65]:
for i,row in data.iterrows():
    if row["cat"] in categories :
        data.loc[i,str(row["cat"])] = 1

In [66]:
data

   cat   91   92
0   91  1.0  NaN
1   92  NaN  1.0
2   93  NaN  NaN

In [67]:
data.fillna(0)

   cat   91   92
0   91  1.0  0.0
1   92  0.0  1.0
2   93  0.0  0.0